html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: playfair-display, serif;
    font-style: normal;
    font-weight: 400;
}

.container {
    margin: 0;
    max-width: 940px;
    padding: 0 10px;
    position: relative;
    top: 200px;
}

.nav {
    background: #7B876D;
    height: 80px;
    width: 100%;
}

.nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav ul li {
    color: #f4ece4;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    list-style: none;
    padding: 0 10px;
    transition: background .5s;
}

.nav ul li:hover {
    background: #989E8B;
    cursor: pointer;
    transition: background .5s;
}